# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/

# Data and model artifacts
data/raw/
data/interim/
data/processed/
/models/
mlruns/
*.duckdb
*.db
*.parquet
*.csv

# Local config
.env
.env.*
!.env.example

# OS/editor
.DS_Store
.idea/
.vscode/

# Dagster
.tmp_dagster_home*/


venv/

dbt_project/target/
dbt_project/logs/
dbt_project/.user.yml